.footer {
    text-align: center;
    padding: 15px 10px;
    background: $green; /* темно-зелений */
    position: fixed;
    width: 100%;
    bottom: 0;
    color: $white;

    &__line {
        height: 4px;
        background: linear-gradient(90deg, $white, $gold, $white); /* Золота лінія */
        width: 90%;
        margin: 0 auto 10px;
        border-radius: 2px;
    }

    &__text {
        font-size: 0.9rem;
        margin: 0;
        text-shadow: 1px 1px 2px $black;
    }
}
