.header {
    text-align: center;
    padding: 30px 20px;
    background-color: $red; /* однотонний червоний фон */
    color: $white;
    position: relative;

    &__title {
        font-size: $font-size-title;
        margin: 0;
        font-weight: bold;
        text-shadow: 2px 2px 4px $black;
    }

    &__subtitle {
        font-size: $font-size-subtitle;
        margin-top: 10px;
        text-shadow: 1px 1px 2px $black;
    }

    &__line {
        height: 4px;
        background: linear-gradient(90deg, $white, $gold, $white); /* Золота лінія */
        width: 90%;
        margin: 15px auto 0;
        border-radius: 2px;
    }
}
